%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @friends.each do |friend|
        %tr
          %td
            %img(src="#{gravatar_pic_url(friend)}")
            = link_to friend.full_name, friend
          %td.extra-padding #{friend.queue_items.count}
          %td.extra-padding #{friend.friendships.count}
          %td.extra-padding
            = link_to friendship_path(friend), method: :delete do
              %i.icon-remove